[2016-02-21 13:38] mkuzak opened #2 "eslint sugested fixes"
I cleaned up a bit in  #1 but there are still a lot of things to fix.

[2016-02-21 13:39] mkuzak opened #3 "Code duplication"
There is a lot of code duplicated in different diagnosis versions.

[2016-02-21 13:40] mkuzak opened #4 "Data mixed with code."
Data should be stored separately from code,
maybe as a json file.
A solution would be to have a service which provides the data to diagnosis code.

[2016-03-10 14:03] mkuzak opened #5 "Update readme"
Currently README.md contains generic yoman information. It should provide information  about ANDI project.

[2016-03-10 14:13] mkuzak opened #6 "grunt serve returns warning"
when trying to start server with grunt `grunt serve` there is a warning:
`Warning: connect.static is not a function Use --force to continue.`
and grunt aborts.
This is most probably caused by changes in `connect` API.

[2016-04-06 17:58] mkuzak opened #8 "bower dependencies are out of date"
Bower and local dependencies are out of date. This causes wiredep fail when automatically updating index.html
ToDo
- [x] cleanup bower.json
- [x] install all dependencies with `bower install --save`
- [x] add local dependencies outside of auto edited sections in index.html

[2016-04-06 18:10] mkuzak opened #9 "npm dev dependencies are out of date"
`npm install` fails
Need to resolve npm modules incompatibility issues and and save them with `npm install --save-dev

[2016-04-06 18:53] #9 closed, assigned to nobody

[2016-04-07 06:40] mkuzak opened #10 "Angular error with $modal"
The error provided:
`Unknown provider: $modalProvider <- $modal <- treeController`

[2016-04-08 08:02] mkuzak commented on #8
Solved in commit bf8ef2c174321eb5c427776cf0c5a7708b4f6961

[2016-04-08 08:02] #8 closed, assigned to nobody

[2016-04-08 08:04] mkuzak opened #11 "Remove unused dependencies."
In both `package.json` and `bower.json` there are listed packages that are not used in the application.

[2016-04-08 09:42] anandgavai opened #12 "Change the label of one or two tailed tests from "Statistical significance""

[2016-04-08 09:44] anandgavai opened #13 "Change the model popup and find and replace functionality"
for example now while uploading the file we will get "blank values" separated by "," and all these values will be replaced by 9 times 9 like "999999999"

[2016-04-08 09:44] anandgavai opened #14 "inform user about non unique patient id in more explanatory way"

[2016-04-08 09:45] anandgavai opened #15 "2 additional fields and 1 modified field"
We will have 2 additional fields and 1 modified field:
1. Age (in years):
2. Date of Birth (date):
3. Date of test (date):

The rule follows: if 1 is filled 2 and 3 are disabled. If 2 is filled 3 must also be filled and 1 will be computed automatically.

[2016-04-09 15:26] mkuzak opened #16 "Pull out webservices code."
Flask application with JSON API and R code is currently part of this code base. I has already been separated and put in andi-nl/andi-webservices repository. Those parts should be removed from this repository.

[2016-04-10 15:58] anandgavai commented on #12
Adapted

[2016-04-10 15:58] #12 closed, assigned to nobody

[2016-04-10 15:59] anandgavai commented on #13
Additional fiend is removed and all , seperated values are replaced by nine times nine.

[2016-04-10 15:59] #13 closed, assigned to nobody

[2016-04-10 16:00] anandgavai commented on #15
Added fields, validation is remaining.

[2016-04-10 16:02] anandgavai commented on #4
I have removed unused data code from diagnosis.js script.

[2016-04-10 16:02] #4 closed, assigned to nobody

[2016-04-12 13:54] anandgavai commented on #3
Remove and updated several files

[2016-04-13 11:17] anandgavai opened #17 "Remove top menu"
Remove top menu from the website

[2016-04-13 11:17] anandgavai opened #18 "add a new logo from of ANDI Website"

[2016-04-13 11:18] anandgavai opened #19 "Error message if patient no 6 is added"

[2016-04-13 11:18] anandgavai opened #20 "rephrase Date of birth and Date of test"
Date of birth become date of birth
Date of test become date of test

[2016-04-13 11:19] anandgavai opened #21 "Download template"
the field names for Date of birth should be birth date
the field names for Date of test should be test date

[2016-04-13 11:21] anandgavai opened #22 "tab2 infomation"
The message should read as follows:
Note! To upload a batch of patient scores please download this template. Please make sure each patient has their own column.

[2016-04-13 11:21] anandgavai opened #23 "advanced settings"
set the default values to "two tailed" and "95"

[2016-04-13 17:50] anandgavai commented on #17
Fixed

[2016-04-13 17:50] #17 closed, assigned to nobody

[2016-04-13 17:50] anandgavai commented on #18
added

[2016-04-13 17:50] #18 closed, assigned to nobody

[2016-04-13 17:51] anandgavai commented on #20
fixed

[2016-04-13 17:51] #20 closed, assigned to nobody

[2016-04-13 17:51] anandgavai commented on #22
added necessary information

[2016-04-13 17:51] #22 closed, assigned to nobody

[2016-04-13 17:51] anandgavai commented on #21
fixed

[2016-04-13 17:51] #21 closed, assigned to nobody

[2016-04-25 08:56] anandgavai opened #24 "Search field tree expansion"
On clicking on the search field the tree should be expanded automatically.

[2016-04-25 08:57] anandgavai opened #25 "change the drop down of normative data"
we need to remove this feature

[2016-04-25 08:58] anandgavai opened #26 "`Selected tests` should be concatenation of category, long name 1, long name 2, and long name 3"
Selected test tab1 should now have a concatenation of of ID1 and ID2 long names

[2016-04-25 08:58] anandgavai opened #27 "check for unique patient id"
check if the patient id's are unique

[2016-04-25 08:59] anandgavai opened #28 "change the text in tab 2"
do you want to type in data or do you want to upload file

[2016-04-25 09:00] anandgavai opened #29 "tab2 give error after 5 patients"
Give error after 5 patients are manually added

[2016-04-25 09:01] anandgavai opened #30 "Downloaded template should have testdate and birthdate"
make this changes in the downloaded template

[2016-04-25 09:01] anandgavai opened #31 "test field validations"
make the test validations on the fly and not after clicking the submit button

[2016-04-25 09:02] anandgavai opened #32 "change the text after download template"
change the text:
Note! To upload a batch of patient scores please download this template. Please make sure each patient has their own column.

[2016-04-25 09:03] anandgavai opened #33 "Make default advanced settings"
set it to two tailed and 95 % confidence interval.

[2016-04-25 09:03] anandgavai opened #34 "add andi logo on the top and remove menu items"

[2016-04-25 09:04] anandgavai opened #35 "add nlesc logo at the bottom"

[2016-04-25 09:04] anandgavai opened #36 "change the overall font size of the website"

[2016-04-25 09:05] anandgavai opened #37 "possibility to upload the template back in the grid"

[2016-04-25 09:06] anandgavai opened #38 "make sure the first column in tab2 is frozen"
To avoid it from being hidden when horizontal scrolling

[2016-04-28 15:04] ridderl opened #39 "Failure upon alphanumeric patient identifier"
When I entered data with patient identifier "p1", no plot appeared after "submit".
Changing the identifier to an integer ("1"), keeping all other data the same, did succesfully result in a plot.

[2016-04-28 15:17] JAvRZ commented on #39
Might have been due to R code, patient IDs were inexplicably forced to be numeric, which gave reproducible errors. New R-code in andi-webservices. Tested with patient ID "John" and I now see correct output once more. (I'm normally not this quick, I must admit).

[2016-05-09 09:43] #6 closed, assigned to nobody

[2016-05-09 09:44] #3 closed, assigned to nobody

[2016-05-09 09:47] mkuzak commented on #10
Solved by commit b51d207

[2016-05-09 09:47] #10 closed, assigned to nobody

[2016-05-09 09:49] #16 closed, assigned to nobody

[2016-05-09 10:14] mkuzak commented on #19
Is it still the case? Could not replicate this behavior.

[2016-05-09 10:18] mkuzak commented on #24
Can you explain why should the tree expand after clicking on the search field?

[2016-05-09 10:19] mkuzak commented on #25
What exactly should be removed?

[2016-05-09 10:20] mkuzak commented on #27
this is duplicate of #14

[2016-05-09 10:20] #27 closed, assigned to nobody

[2016-05-09 10:25] mkuzak commented on #29
Is this the same issue as #19 ?

[2016-05-09 10:32] JAvRZ commented on #24
I think the issue was that if you type in a (partial) name of a variable in the search field, this matches leaf nodes, while you only see root nodes if you did not expand yet. So I think the goal was to see the leaf nodes that you matched (so auto-expand the tree if need be).

[2016-05-09 10:36] mkuzak commented on #33
duplicate with #23

[2016-05-09 10:36] #33 closed, assigned to nobody

[2016-05-09 10:36] mkuzak commented on #36
@anandgavai  Any suggestions on what the font size should be?

[2016-05-09 12:44] mkuzak opened #40 "It is possible to remove second, third and so on patient but not the first."
I don't understand why the distinction? I think it's more consistent if you can remove all patients.

[2016-05-09 12:47] mkuzak opened #41 "The button to add patient should be somewhere at the top of the table."
Current location suggests that you should click it after filling in the form. It's easy to assume that `add` means `submit` in this case.

[2016-05-09 12:50] mkuzak opened #42 "Table gets unaligned."
When filling in table for multiple patients, the height of rows changes and the whole table gets wiggly. It also makes it difficult to see which cell corresponds to which test.

[2016-05-09 12:51] mkuzak opened #43 "Dowload template button does not work."
When clicking on download template button nothing happens. There are also no errors in console.

[2016-05-09 12:53] mkuzak opened #44 "Tab selection does not correspond display of tab content."
When moving to next tab with next, the old tab keeps being selected, even though new tabs content is displayed.

[2016-05-09 12:53] Nanouk123 commented on #40
I'm not sure either @JAvRZ ?

I think in general patients should be removable. So if you upload data from the excelsheet into the portal you will get a filled-out template. But perhaps you want to remove all data for the 4th patient. You should be able by clicking 'x' in the corner to delete that row of scores?

But that would also mean that I should be able to delete the first patient If I wanted

[2016-05-09 12:54] Nanouk123 commented on #41
Agreed

[2016-05-10 06:54] mkuzak commented on #29
Actually even though it does not through an error, it does not add another patient.
The comment below `If there exists more than 5 patients. Download this template...` suggests this is expected behavior. What is the reason for limiting number of patients that can be input manually?

[2016-05-10 07:04] Nanouk123 commented on #29
From our end there isnt (in an earlier 'wishlist' I asked for this to be removed).  Clinicians should be able to decide for themselves how much they want to manually type in. Likewise you should be able to upload template data of one single patient.

[2016-05-10 07:35] JAvRZ commented on #29
The 5 patients limit can be removed; especially if patients addition and deletion is managable with always visible test names. I think five patients may have come up as a theoretical limit of the number of patients that any user may have the patience for to fill them in, and if there is trouble fitting them on the screen, a limit may be necessary. But screen fitting solutions are definitely prefer

[2016-05-13 09:01] mkuzak commented on #19
duplicate of #29

[2016-05-13 09:01] #19 closed, assigned to nobody

[2016-05-13 09:32] anandgavai commented on #25
As far as I understand It needs to be static. In the new requirement list it is mentioned.

[2016-05-13 09:33] anandgavai commented on #36
I do not know what size of font it should be @Nanouk123 can you comment on it ?

[2016-05-13 09:37] anandgavai commented on #40
@Nanouk123 @JAvRZ  from our discussion last time Hilde requested to have atleast 1 patient column available. But certainly it is not restricted, if you wish we can remove the first patient too ?

[2016-05-13 13:28] Nanouk123 commented on #40
This is not the same issue.  Yes you should always have one patient to analyze.  However this shouldn't have to be patient 1. So if I add data from patient 1 patient 2 and patient 3. I should be able to delete patient 1 and analyze data from patient 2 and 3

[2016-05-13 13:29] anandgavai commented on #40
Yes makes sense!

[2016-05-13 13:50] Nanouk123 commented on #36
I think it should be a scaled size to compensate for resolutions. I usually determine this through trial and error. Ao if you have something for me to evaluate you can forward it to me and ill see if its large enough

[2016-05-13 13:53] Nanouk123 commented on #25
It should be standard the latest version. With a small button indicating 'change' so you can analyze with older versions. But we want to demotivate people to do this. Corresponds to #1 on the list

[2016-05-19 15:55] mkuzak opened #45 "Added note in first tab"
In first tab there should be a note that you can skip choosing the tests and upload the data in second tab.

[2016-05-19 15:57] mkuzak opened #46 "Remove toggles and add introductory text in tab 1 tab 2"
Toggles _Do you want to type in data_ and _Do you want to upload file_ should be removed

[2016-05-19 15:58] mkuzak opened #47 "Upload data without having to choose the tests"
It should be able to upload data without having to choose test in the first tab.

[2016-05-19 15:59] mkuzak opened #48 "upload button should not be separate from file selection"
after clicking _uplad data_ user should get a popup with file browser to upload data

[2016-05-20 11:02] mkuzak commented on #24
This sometimes works and sometimes not.

[2016-05-20 11:05] mkuzak commented on #25
Need to be tested with more than one set of normative data.

[2016-05-20 11:08] mkuzak commented on #26
Clarification:
In tab _Test Selection_ tests listed in _Selected Tests_ should be concatenation of ID1 and ID2

[2016-05-20 11:08] #28 closed, assigned to nobody

[2016-05-20 11:15] mkuzak commented on #30
we need to test it once it is possible to download the template (after fixing issue #43)

[2016-05-20 11:18] mkuzak commented on #37
Clarification:
After uploading the data, data should be displayed in the form.

[2016-05-20 11:19] mkuzak commented on #39
@JAvRZ does that mean it's fixed now or not?

[2016-05-20 11:21] #11 closed, assigned to anandgavai

[2016-05-20 11:24] mkuzak commented on #2
We're switching to eslint. Have to reformat to adhere to eslint rules.

[2016-05-20 11:46] JAvRZ commented on #39
I cannot be sure, Lars signaled the error using the interface, and I tried to fix the R code that could have been the issue (without breaking anything), but I do not know whether this was sufficient to fix the problem that Lars came across in the interface.

[2016-05-20 11:47] mkuzak commented on #39
Ok, we'll have to test it once we have working interface again.

[2016-05-25 08:49] anandgavai commented on #14
This issue is resolved in the current version.

[2016-05-25 08:52] anandgavai commented on #15
Further clarification @Nanouk123. Within the user interface its fine. However I wonder when the clinician is uploading the file how the behaviour is expected ?

[2016-05-25 08:52] mkuzak commented on #14
@anandgavai current version is HEAD master and and it's not fixed there, it's fixed in the pull request.
Please if your commit messages close the issues, then once pull request is merged issues will be closed.
Do not close issues on unmerged pull requests.

[2016-05-25 08:54] anandgavai commented on #30
This is fixed in the current version.

[2016-05-25 09:02] anandgavai commented on #32
This is fixed in the current version.

[2016-05-25 09:05] anandgavai commented on #14
so when do we plan to merge pull request ?

[2016-05-25 09:15] mkuzak commented on #14
once you resolve all the issues we discussed in the pull request.

[2016-05-25 11:53] mkuzak commented on #30
It will be once the pull request #51 is merged

[2016-05-25 11:54] mkuzak commented on #32
It will be once the pull request #51 is merged

[2016-05-25 12:25] Nanouk123 commented on #15
If I understand you correctly you're asking what happens if someone uploads an excel file with data?
I think you should ask for 'age in years' in the uploaded file. So these are researchers and all will have the variable 'age' specified. MOST will have information on date of birth and test but not all. Age is more common for researchers to use. So for them I would simply ignore date of birth and d

[2016-05-25 12:43] anandgavai commented on #15
Alright, So during file upload "Age" is compulsory and "testdate" and "birthdate" can be ignored from validation isnt it

[2016-05-25 12:48] Nanouk123 commented on #15
Id say so yes.

[2016-05-25 12:54] Nanouk123 commented on #26
Id say:

In test _selection tab 1_ (+ on the right _'selected tests'_): Tests should be noted: 'category' +   'long name 1' + 'long name 2' + 'long name 3'.

In tab 2 (fill out data): Print 'ID1' + 'long name 2' + 'long name 3'

In the results tab (so in the plots and tables), stck to ID1, ID2, ID3. These are the 'shortest possible'. this to save space in the tabs/graphs.

[2016-05-25 13:41] anandgavai commented on #46
@Nanouk123 if this feature is removed how can clinicians know if this was meant for manual addition or upload the data ?

[2016-05-25 13:42] Nanouk123 commented on #46
Because we write an instruction on top of the page. So we write 'on this page you can add the data of your patient(s). You can either upload data from an external .csv/xls etc. file by clicking 'download template' and filling out  and reuploading the template. Or you can add data per patient in the form below'.

Something like that.

[2016-05-25 13:52] anandgavai commented on #46
what if a clinicians adds data manually and at the same time uploads a data file ? would it be an integrated sheet than ?

[2016-05-25 13:58] Nanouk123 commented on #46
Yes. So in theory you could upload your excel file which is then filled out in your sheet on the website. You could also add extra patients on that sheet.
So if I upload data for 10 people but have an extra person not in my excel, I should be able to add data for that patient as well (by clicking 'add patient') after my excel file has been imported.

Though honestly, I don't think this will happen

[2016-05-25 14:04] anandgavai commented on #46
Alright ! This means the Requirement #12 will not be applicable no more.

[2016-06-01 07:52] anandgavai commented on #14
Now it is fixed

[2016-06-01 07:57] anandgavai commented on #23
Now it is fixed to "Two Tailed" and "95"

[2016-06-01 08:00] anandgavai commented on #29
I have removed the limit so this can be closed

[2016-06-01 08:01] anandgavai commented on #30
this can be closed as I changed the variable names

[2016-06-01 08:01] anandgavai commented on #34
This can be closed too

[2016-06-01 08:02] anandgavai commented on #35
added the logo

[2016-06-01 08:13] anandgavai commented on #39
How would we test this ? for this we need to call teh webservice ?

[2016-06-01 08:14] anandgavai commented on #42
This is fixed in the current version

[2016-06-01 08:15] mkuzak commented on #14
Ok, validation works, but we need better, more meaningful feedback than just "duplicate".
I'm renaming this issue to reflect that.

[2016-06-01 08:15] anandgavai commented on #43
now the download works

[2016-06-01 08:18] anandgavai commented on #46
toggles have been removed but we should keep it open for now

[2016-06-01 08:19] mkuzak commented on #23
95 still does not appear as default

[2016-06-01 08:28] Nanouk123 commented on #14
You mean the feedback the user gets on having a duplicate needs to be more concrete?

Perhaps: "Not all subjects have a unique ID (_print the conflicting ID_). Please make sure all subjects have a unique ID before uploading your file".

Something like that?

[2016-06-01 09:20] mkuzak commented on #23
fixed in PR #53

[2016-06-01 09:20] #23 closed, assigned to nobody

[2016-06-01 09:20] mkuzak commented on #29
Fixed in PR #53

[2016-06-01 09:20] #29 closed, assigned to nobody

[2016-06-01 09:26] mkuzak commented on #35
Confirmed, logo is there.

[2016-06-01 09:26] #35 closed, assigned to nobody

[2016-06-01 09:26] anandgavai commented on #30
We should keep this open as I have not fixed it

[2016-06-01 09:27] mkuzak commented on #39
On hold, until we have integrated web interface with webservice.

[2016-06-01 09:29] mkuzak commented on #43
Confirmed, it works.

[2016-06-01 09:29] #43 closed, assigned to nobody

[2016-06-01 09:30] mkuzak commented on #46
why should we keep it open?

[2016-06-01 09:32] mkuzak commented on #14
Yes 👍 sth like that. When I read _duplicate_ I might think I have same patient twice it does not point me to fixing the identifier which is an issue here.

[2016-06-01 09:44] mkuzak opened #54 "split controllers into separate files"
Currently all the controllers are in diagnosis.js.
We should split them so that there is one controller per file.

[2016-06-01 09:58] anandgavai commented on #46
Once I will adapt the text on 1st and 2nd tab we can close this issue

[2016-06-01 10:00] anandgavai commented on #54
Yes I agree with you once we resolve the issues here we can organize it ?

[2016-06-01 10:08] Nanouk123 commented on #14
I agree, just print the conflicting ID's, its up to the user to figure out whether its an actual duplicate patient or just a duplicate ID number.

[2016-06-01 11:00] anandgavai commented on #46
We can close this issue now now

[2016-06-01 11:04] mkuzak commented on #46
After you make a pull request and I merge it.

[2016-06-01 11:21] anandgavai commented on #31
This is fixed in the merged version

[2016-06-01 11:31] mkuzak commented on #31
This has been fixed while merging pull request #53

[2016-06-01 11:31] #31 closed, assigned to nobody

[2016-06-01 12:23] mkuzak commented on #32
This have been fixed in PR #51

[2016-06-01 12:23] #32 closed, assigned to nobody

[2016-06-01 12:25] #34 closed, assigned to nobody

[2016-06-01 12:26] mkuzak opened #55 "Remove empty navbar"
There is still navbar below ANDI logo. It is empty, we don't use it any more.

[2016-06-01 12:29] #44 closed, assigned to nobody

[2016-06-01 12:37] #46 closed, assigned to nobody

[2016-06-01 12:41] anandgavai commented on #14
By print @Nanouk123 you mean we show a popup with conflicting id's ?

[2016-06-01 12:43] Nanouk123 commented on #14
The conflicting ID's should be ideally be displayed in the error message.

"Not all subjects have a unique ID ('Insert conflicting ID's separated by a comma'). Please make sure all subjects have a unique ID before uploading your file"
'
Example:
"Not all subjects have a unique ID (13,1108,6697). Please make sure all subjects have a unique ID before uploading your file"

[2016-06-01 13:45] mkuzak commented on #55
closed by PR #57

[2016-06-01 13:45] #55 closed, assigned to nobody

[2016-06-01 13:45] mkuzak commented on #14
closed by PR #57

[2016-06-01 13:45] #14 closed, assigned to nobody

[2016-06-02 09:06] anandgavai opened #58 "Download template does not have testdate and birthdate"
Fields are missing in the downloaded tempate

[2016-06-02 09:13] anandgavai opened #59 "Upload template should accept ";" separated file"

[2016-06-02 17:27] anandgavai commented on #30
It should not have testdate and birthdate as only Age is compulsory for uploading data

[2016-06-06 11:19] anandgavai commented on #58
Duplicate of #30

[2016-06-06 11:19] #58 closed, assigned to nobody

[2016-06-06 11:46] mkuzak opened #61 "calendar inputs don't work on Firefox"
Calendar fields `birth date` and `test date` do not work in Firefox.

[2016-06-06 11:48] mkuzak opened #62 "Age should be rounded."
When `age` is calculated from `birthdate` and `test date` it should be rounded off to integer.

[2016-06-06 11:51] anandgavai commented on #37
This is partly implemented I still need to varify the identifiers for the uploaded file with reference (normative) data identifiers

[2016-06-06 11:52] mkuzak opened #63 "remove `Demographics` column name from template"
Downloaded template should not have Demographics column name. There should be and empty cell at this place.

[2016-06-06 11:54] mkuzak opened #64 "Downloaded template should have `patient 1` column."

[2016-06-06 11:55] anandgavai commented on #30
As per our previous conversation @JAvRZ and @Nanouk123  a clinician will not upload file with testdate and birthdate but will only enter age of the patients. Therefore the downloaded template does not have testdate and birthdate

[2016-06-06 12:52] ridderl opened #65 "Neither download nor upload works in Microsoft Edge"
Also the data fields in the data entry tab have bad layout
These problems do not occur with Chrome

[2016-06-06 13:22] anandgavai commented on #65
I have not tested it yet with Microsoft Edge !

[2016-06-06 13:27] ridderl opened #66 "Downloading, completing + uploading template didn't work"
- Select AVLT + [Next] + Download template
- Result:

[code]
- Completed the template:

[code]
- Uploaded it to the website
- Result:
  - Browse button for uploading is then missing
  - Empty table, with additional fields instead of filled cells:

[code]

[2016-06-06 13:30] anandgavai commented on #66
The uploading of data has been changed from "," separated values to Dutch standard ";" separated values.

[2016-06-06 13:35] ridderl commented on #66
Ah, indeed with ; instead of , it works OK. But, I guess we want this to work with comma separated files as well?
Also, after the upload, the button for (another) upload is gone. Is that on purpose?

[2016-06-06 13:38] ridderl commented on #66
Also, the sex and education cells were still not filled

[2016-06-06 13:41] anandgavai commented on #66
Sex needs to be 0, 1 and education needs to be values between 1 till 7 . The upload button was gone on request as it was a two step procedure, but will make it more clear.

[2016-06-06 13:58] ridderl commented on #66
- OK, that works. Bottom line is that this needs to be clear for the user. (Maybe some explanation in the excel file? Ask Nathalie?)
- Download after filling the table online does not include the filled in data ...

[2016-06-06 14:03] ridderl opened #67 "Selection bug"
I selected all memory tests and then deselected the RBMT test
After pressing Next still all tests (including RBMT) are in the table

[2016-06-06 14:13] anandgavai commented on #66
. @Nanouk123  is working on text for every tab and it will be made clear by me on the selection as well !
. Download after filling the table functionality never existed. It is only for creating the template to be filled in by the clinician

[2016-06-06 14:19] anandgavai commented on #67
Alright thanks for pointing it out !

[2016-06-06 14:53] mkuzak commented on #5
I think it's good for now, for development.

[2016-06-06 14:53] #5 closed, assigned to nobody

[2016-06-06 14:53] mkuzak commented on #15
It is now implemented.

[2016-06-06 14:53] #15 closed, assigned to nobody

[2016-06-06 14:55] mkuzak commented on #24
We need more testing on that, because it seams to be quite hard to reproduce.

[2016-06-06 14:57] mkuzak commented on #30
Downloaded template should only have age.

[2016-06-06 14:57] #30 closed, assigned to anandgavai

[2016-06-06 14:57] mkuzak commented on #37
Now it's possible to upload the template.

[2016-06-06 14:57] #37 closed, assigned to nobody

[2016-06-06 14:58] mkuzak commented on #38
This is now implemented.

[2016-06-06 14:58] #38 closed, assigned to nobody

[2016-06-06 14:59] mkuzak commented on #40
Now it is possible to delete any patient as long as it's not the last one.

[2016-06-06 14:59] #40 closed, assigned to nobody

[2016-06-06 14:59] mkuzak commented on #41
It is now.

[2016-06-06 14:59] #41 closed, assigned to nobody

[2016-06-06 15:02] mkuzak commented on #45
Note has been added.

[2016-06-06 15:02] #45 closed, assigned to nobody

[2016-06-06 15:02] mkuzak commented on #47
This is now possible.

[2016-06-06 15:02] #47 closed, assigned to nobody

[2016-06-06 15:03] mkuzak commented on #48
We have one button now, but we need to change, what the button says, so that it's more explanatory.

[2016-06-06 15:04] mkuzak commented on #59
It now accepts semicolon separated files.

[2016-06-06 15:04] #59 closed, assigned to nobody

[2016-06-07 08:14] #62 closed, assigned to nobody

[2016-06-07 08:14] #63 closed, assigned to nobody

[2016-06-08 11:30] mkuzak opened #70 "typo in downloaded temple"
In second columns, first row of the template it says _pateint_ should say _patient 1_

[2016-06-08 11:37] #48 closed, assigned to nobody

[2016-06-08 11:37] #61 closed, assigned to nobody

[2016-06-08 11:37] #64 closed, assigned to nobody

[2016-06-08 11:37] #67 closed, assigned to nobody

[2016-06-08 11:46] mkuzak commented on #67
@ridderl can you confirm if this now works, in cloud instance? If it's still an issue, please reopen it.

[2016-06-08 11:48] mkuzak commented on #66
@ridderl this should work now (in running cloud instance) please confirm and close if you think it's resolved.

[2016-06-08 11:50] mkuzak opened #71 "No validation of uniqueness of patient id's in uploaded template."
When uploading filled in template, patients can have same id's this does not get validated and ends up like that in the table.

[2016-06-08 12:03] mkuzak opened #72 "Remove space between top part with ANDI logo and rest of the app."
DIV at the top with `class="navbar navbar-default"` should have `margin-bottom: 0px`.

[2016-06-08 13:22] ridderl commented on #66
No, it doesn't work properly yet:
- If you download the template twice, the second time it is different from the first time (doubling the rows).
- Do we still expect the template to include completed testscores? At this moment it doesn't (If you first go Next, fill in some values, then go Previous and then download the template), but I thought we wanted to have the possibility to download the tabl

[2016-06-08 13:28] ridderl commented on #67
Yes, it works now. Thanks

[2016-06-08 14:02] mkuzak commented on #66
Agree, does not work yet. @Nanouk123 do we want to be able to download template with filled in values?

[2016-06-08 14:20] mkuzak opened #73 "Template download should show up after some tests are selected."
As explained by @Nanouk123 [here](https://github.com/andi-nl/andi/issues/18#issuecomment-224584775) and I agree with her, having a template download button available when no tests are selected may lead to people trying to use it to download empty template. The solution would be to either disable the button or not show up at all when no tests are selected, show/enable only after some tests are sele

[2016-06-08 14:21] anandgavai commented on #73
Alright thanks

[2016-06-08 14:29] mkuzak opened #74 "After uploading the file user should be redirected to second tab."

[2016-06-08 15:45] anandgavai commented on #66
If we want to have downloaded values then may be we can put this in a new requirement list ? @ridderl @Nanouk123  please confirm

[2016-06-08 18:08] Nanouk123 commented on #66
@mkuzak at some point we do want to download the excel files with the values. Because then clinicians can store them with their results and reupload them later (that's why we have the 'upload template' in the first tab for these exact people).

I think some of these points overlap my comments on https://github.com/andi-nl/andi/issues/18#issuecomment-224606948 ?

[2016-06-08 18:10] mkuzak commented on #66
@Nanouk123 @anandgavai @ridderl It's clear that this is a requirement then.

[2016-06-08 18:13] Nanouk123 commented on #66
Yes, it already was in the beginning (idealy we wanted to export PDF with the results (plots) and automatically download the csv for the uploaded patient(s). This because we want clinicians to re-evaluate the patient data. But it was too much work and ethically difficult to instate a log in system in which clinicians could save the patient data they have filled out in earlier sessions.

So to avoi

[2016-06-08 18:14] mkuzak commented on #66
It does.

[2016-06-08 18:16] Nanouk123 opened #75 "Date picker does not work poperly."
Requirement 22:

In my browser (chrome but perhaps old) I don't get the pre-printed dd/mm/yyyy in the box (yet).
Also theres no icon for the calendar which I'd like. Now if I click it it pops up (for all patients, also the ones which I've already given an age which makes the screen look very messy).

So Id like a small calendar icon next to the field. If you click that, than the calendar pops up f

[2016-06-09 06:07] anandgavai commented on #66
@Nanouk123  @ridderl If we would like to download template filled with values this would mean a lot of restructuring of the code !!!

[2016-06-09 07:59] Nanouk123 commented on #66
This was already a requirement in the first version. We can discuss it later today if you wish.

[2016-06-09 13:48] anandgavai opened #77 "Test variable values should be optional"
The clinician is not required to fill in all test data and every empty field is internally replaced with "999999999" which is not visible on the web page

[2016-06-09 13:51] anandgavai opened #78 "Remove range suggestion from the template."
There needs to be a new column in the template. This filed should give information about variable format. For example, date dd/mm/yyyy, age in years, education between 1-7, sex 0,1 (with explanation what is 0 and what is 1).

[2016-06-09 14:09] anandgavai opened #79 "Dialog window used to specify missing valus should have better explanation."
Provide information message to the user

[2016-06-09 14:10] mkuzak commented on #79
What is "file modal dialog"? Can you explain this? What kind of information do you want to provide?

[2016-06-09 14:17] anandgavai opened #80 "The downloaded template cannot be uploaded"
The template downloaded from the website after being filled in by the clinician cannot be uploaded back

[2016-06-09 14:19] anandgavai commented on #79
The file modal dialog is the popup that provides clinicians the possibility to indicate missing values. I have changed the message to make it a bit more clear the purpose of this dialog. Offcourse @Nanouk123  would prrovide a better message later.

[2016-06-09 14:21] mkuzak commented on #80
@anandgavai
This is not true, I can upload filled in template.

[2016-06-09 14:24] anandgavai commented on #80
Actually there is a small bug in the script which I need to get it sorted out.

[2016-06-09 14:25] mkuzak commented on #80
Can you explain it and update the title of this issue, so that it reflects the problem?

[2016-06-09 14:59] anandgavai commented on #80
Same as issue #71

[2016-06-09 14:59] #80 closed, assigned to nobody

[2016-06-09 19:59] anandgavai commented on #71
@mkuzak do you mind testing this functionality again ? and if you agree please close it.

[2016-06-10 06:18] mkuzak commented on #71
@anandgavai it still does not complain when uploading file with two patients with id: 0 or 'a' or 55, those the ones I tested.

[2016-06-10 07:25] mkuzak commented on #42
Confirming, looks ok to me.

[2016-06-10 07:25] #42 closed, assigned to nobody

[2016-06-10 07:31] mkuzak commented on #70
It is corrected now.

[2016-06-10 07:31] #70 closed, assigned to anandgavai

[2016-06-10 07:33] mkuzak commented on #72
It is corrected now.

[2016-06-10 07:33] #72 closed, assigned to anandgavai

[2016-06-10 07:34] #74 closed, assigned to anandgavai

[2016-06-10 07:40] mkuzak opened #81 "After uplading data, button for upload disepears."
When I upload data, I'm redirected to tab two, when I go back to tab one, upload button is gone and I cannot upload more data.

[2016-06-10 09:13] anandgavai commented on #81
yes this is expected behaviour !

[2016-06-10 09:25] mkuzak commented on #81
why?

[2016-06-10 09:54] anandgavai commented on #81
this is to prevent user from uploading new data, I can make the upload available again if @Nanouk123 likes ?

[2016-06-10 09:57] mkuzak commented on #81
@Nanouk123 @JAvRZ  was it ever a requirement? What is the logic behind not allowing to upload multiple data files?

[2016-06-10 10:28] JAvRZ commented on #81
I do not recognize it as a requirement, so I'm unsure about the logic. I think that the risk that the user does no longer know what file he is working with is very small. So I would not dynamically remove the button myself.

[2016-06-10 10:31] anandgavai commented on #81
@JAvRZ some questions
what should be the behaviour if the user uploads the same file with different values again ?

[2016-06-10 10:54] mkuzak commented on #81
If the patient id is the same, data should be overwritten, otherwise it's different patient.

[2016-06-10 10:57] JAvRZ commented on #81
I am not sure whether I would expect that behavior (I think I would expect: New file means new data, so overrides everything I have done so far). But I do like what you are saying Mateusz, that you can keep uploading patient files for different patients one by one (or if you want, overwrite one of the patients by entering the same ID). So I would think that would be better than what a cynical user

[2016-06-10 11:13] anandgavai commented on #81
@JAvRZ @Nanouk123 can add this to our new requirement list ?

[2016-06-10 11:14] mkuzak commented on #81
I would make it an issue, it's not really a requirement.

[2016-06-13 13:03] #71 closed, assigned to anandgavai

[2016-06-21 11:56] JAvRZ opened #84 "Pressing Download Template multiple times downloads longer and longer csv's"
Extra rows are added every time the template is downloaded. csv in screenshot is the 6th download, and has 65 rows.

![multiplepateints](https://cloud.githubusercontent.com/assets/13958834/16228436/4c5a70da-37b7-11e6-9832-b436665e277f.png)

(Chrome Version 51.0.2704.103 m)

[2016-06-21 12:06] JAvRZ commented on #84
May very well be connected with issue #66 , although that seems to relate more to uploading rather than downloading.

[2016-06-22 10:55] Nanouk123 commented on #79
"Please specify which value(s) is used for missing data. If no value for missing data is used (blank space) you can lave this empty. If you have used multiple values for missing data (e.g. 999 as well as 888) you can define multiple values by separating them by comma (e.g. 999,888)."

How is this? and is it correct (will we use comma separated??)

[2016-06-23 09:11] anandgavai commented on #79
yes it is comma separated

[2016-06-23 09:13] mkuzak commented on #79
Aren't commas decimal separators now? If so we cannot use them to separate numbers.

[2016-06-23 09:22] mkuzak commented on #24
This seems to be working now.

[2016-06-23 09:22] #24 closed, assigned to nobody

[2016-06-23 09:23] mkuzak commented on #25
Now there is a button, but the normative dataset is not rendered.

[2016-06-23 09:27] mkuzak commented on #73
The button now appears after selecting tests. Looks ok.

[2016-06-23 09:27] #73 closed, assigned to anandgavai

[2016-06-23 09:28] #77 closed, assigned to anandgavai

[2016-06-23 09:30] mkuzak commented on #79
Let's make them semicolon separated if everyone agrees on that.

[2016-06-23 09:35] JAvRZ commented on #79
Sounds fine to me.

[2016-06-30 09:20] mkuzak opened #88 "Name of the chosen narmative dataset should be displayed."
This is the continuation of the improvements in issue #25

[2016-06-30 09:20] mkuzak commented on #25
Closing that one and creating new issue #88 about displaying the name of the chosen data set.

[2016-06-30 09:20] #25 closed, assigned to nobody

[2016-06-30 09:29] mkuzak opened #89 "Age is not validated when uploaded from template."
Putting age `< 1` and or sex not `0 or 1`  in the csv file does not trigger any warning and it gets filled-in in the table.

[2016-06-30 10:45] mkuzak opened #90 "After deselecting tests, they still show up in the reults."
They must still be in submitData object.

[2016-07-01 11:04] mkuzak opened #91 "reformat code to adhere to .editorconfig"

[2016-07-01 11:14] mkuzak commented on #39
Could not reproduce that any more with current version. Closing.

[2016-07-01 11:14] #39 closed, assigned to nobody

[2016-07-01 11:15] mkuzak commented on #54
That have been partly done. Closing it since it's not measurable or verifiable.

[2016-07-01 11:15] #54 closed, assigned to mkuzak

[2016-07-01 11:28] mkuzak commented on #66
This has been fixed or changed. Downloading data goes into the new tab. Template should always be empty.

[2016-07-01 11:28] #66 closed, assigned to nobody

[2016-07-01 11:39] mkuzak commented on #75
Fixed for me. @Nanouk123 can you test in your browser and close an issue if you think it's closed?

[2016-07-01 11:42] mkuzak commented on #78
The column has been added. @Nanouk123 @JAvRZ can you download a template and see if you agree with the implementation. If all is as it should be please close an issue.

[2016-07-01 11:48] mkuzak opened #92 "No validation of the template format when imporring data from template."
When uploading data with wrong (for example old) template there is no error, message or warning. It does lead to improperly imported data.

[2016-07-01 11:54] #81 closed, assigned to nobody

[2016-07-01 11:56] #84 closed, assigned to nobody

[2016-07-04 07:32] mkuzak opened #93 "When selecting age with the spinner birthdate and testdate input fields don't get disabled."
When selecting age, birthdate and testdate input fields should get disabled. They do get disabled when inputting number from keyboard but not when the spinner is used.

[2016-07-04 07:58] Nanouk123 commented on #78
I would give the 'info' in the info box, not the ranges. Ranges get checked ont he website anyway plus the ranges are not always correct for each test (because we lack the formal information).
So from the 'golden template' I'd give the description.
(which is more info about the variable than the range). @JAvRZ ?

[2016-07-04 08:00] Nanouk123 commented on #75
Yes this works I dont get the tripple pop up anymore.
It does not yet show me how to fill out the date (seems to be with a dash - so 09-07-1987) Which is fine but Id print it behind birthdate (dd-mm-jjjj) so that people who want to type it in can. / doesn't work it seems (again dash is perfectly fine but should be indicated somewhere).

[2016-07-04 08:02] Nanouk123 commented on #75
- if I leave it with / (so for example I typed 09/07/1987) he will automatically take todays date (4-7-2016).
  So indicating it should be dash is needed else you don't get the right age calculated.
  ![example](https://cloud.githubusercontent.com/assets/6817467/16554326/6609d4dc-41ce-11e6-9e10-877def550c72.png)

[2016-07-04 08:17] JAvRZ commented on #78
I think we should split the discussion into a demographics part and a test variable part. Because for the demographics part, the ranges are very handy (I am always unsure if Sex is coded as 1-2, 0-1 or -1 1, so having that there is great). For the test ranges, I find them handy, but I understand Nan's point that those ranges can be confusing when test ranges are not logical (if there are 75 questi

[2016-07-04 08:37] Nanouk123 commented on #78
Yes for the demographics you can keep ranges but we could also just add this info in the goldentemplate? As info.. so how to code men/women for example. This is just as useful info as knowing that the 'AVLT-total' is a total over 5 trials (for example).

The ranges are in more cases illogical than logical (unfortunately) so I wouldn't like to put them up for display.

[2016-07-04 08:42] JAvRZ opened #94 "Missing values are not removed for last patient"
If the values are outside the range (like 99999), this prohibits the user from going to the output as well. Screenshot should make it clear enough.

![image](https://cloud.githubusercontent.com/assets/13958834/16555209/c883558e-41d3-11e6-9298-06636b9244c4.png)

[2016-07-04 09:21] JAvRZ opened #95 "Onesided tests give strange y-axes."
Onetailed left
![onetailedleft](https://cloud.githubusercontent.com/assets/13958834/16556134/745efcb0-41d8-11e6-847f-1fab89bdf4ff.png)

Onetailed right
![onetailedright](https://cloud.githubusercontent.com/assets/13958834/16556133/7458c19c-41d8-11e6-915a-1141911e37f0.png)

Even if the scale is changed to more realistic values (like 3 instead of 100), the scale can maybe still better be like the tw

[2016-07-04 09:51] JAvRZ opened #96 "display warning when user navigates back in web browser"
All fields are still active, but changing the values in some fields (age, test scores) do not seem to affect the visualisations or the tables. It seems like the ocpu/normcomp part isn't run the second time, because other things, unrelated to normcomp like the names of the participant, can be changed and will show up differently the second time one goes to the visualisation.

[2016-07-04 10:06] JAvRZ opened #97 "When age is < 0, the dates are required (but deactivated)"
![image](https://cloud.githubusercontent.com/assets/13958834/16557289/34f01288-41df-11e6-8951-8d0257a9a7dc.png)

I cannot quite find out how to precisely replicate this, but when I try to change age back to something normal, I have twice found it to be locked to age = 0 (and all keyboard input and arrow button input is interpreted as 0).
![reallybrokenit age 0](https://cloud.githubusercontent.com/

[2016-07-04 11:48] JAvRZ opened #98 "Confidence interval becomes wider instead of narrower when going from 95 to 68"
When I saw this I thought it must be a andistats issue, as I think the inneredge and outeredge come from there. But running normcomp on a 68 testjson, I get "inneredge": -0.9947, "outeredge": 0.9947,
95% interval (about -1.96 to 1.96, as expected)
![95interval](https://cloud.githubusercontent.com/assets/13958834/16559479/68d7fb98-41ed-11e6-866c-ed91e67257f4.png)

68% interval (about -2.5, 2.5, exp

[2016-07-04 12:28] JAvRZ commented on #98
I'm a bit afraid to touch the dataentry file, so I won't, but I think I found the source of this bug: `! <option value="99">68</option>.`

[2016-07-04 12:30] mkuzak opened #99 "Data lost when moving between data-entry and test-selection."
If the person fills in the data in the table and then moves back to test-selection page and again to data-entry the filled in data is lost.

[2016-07-04 12:57] JAvRZ opened #100 "Typo in message when removing only patient"
Message is currently:
Data for atleast one patient needs to be filled in !
(with the extra space before the exclamation mark)
(not getting into the data plural/singular debate)

Thinking about it, the message is odd, as your attempt is not about filling it in, it is about deleting patients.

Possible alternative:
"Patient cannot be removed, at least one patient is required for the analysis".

![im

[2016-07-04 13:53] JAvRZ commented on #94
I think this issue has changed. A missing value was introduced, but only for the first patient (I entered 60 as the missing value identifier, with two identical patients)
![image](https://cloud.githubusercontent.com/assets/13958834/16562738/b5aa96f4-41fe-11e6-9d5e-4133f95960aa.png)

However, in the visualisation, the changed variable I think was not made missing, but was replaced by nine 9s.
![ima

[2016-07-04 15:13] JAvRZ opened #101 "Age is currently rounded, but should be floor rounded"
Someone who is 28.55 would still consider himself to be 28, so the current rounded 29 is slightly unexpected behavior.

[2016-07-06 09:21] #88 closed, assigned to nobody

[2016-07-06 09:21] #89 closed, assigned to nobody

[2016-07-06 09:21] #90 closed, assigned to nobody

[2016-07-06 09:21] #92 closed, assigned to nobody

[2016-07-06 11:34] mkuzak opened #103 "test variables from upload file are not added to selected tests"
When the user uploads data from the file and then moves to test selection page with _Previous_ button, the test variables which have been filled in in the uploaded file and that have been added to the table do not show up in the selected test section of the page.

[2016-07-06 11:36] #2 closed, assigned to nobody

[2016-07-06 11:39] #91 closed, assigned to nobody

[2016-07-06 11:57] #79 closed, assigned to anandgavai

[2016-07-06 12:05] mkuzak commented on #96
Currently there is no _previous_ from the visualization. Should there be one?

[2016-07-06 12:07] mkuzak commented on #97
Now when entering negative age, the template complains.

[2016-07-06 12:07] #97 closed, assigned to mkuzak

[2016-07-06 12:11] mkuzak commented on #100
I think, if there is only one patient, there should be no _Remove_ button. Giving user a button just to tell him he cannot use it is not very user friendly.

[2016-07-06 12:15] mkuzak commented on #101
Now floor rounded.

[2016-07-06 12:16] #101 closed, assigned to nobody

[2016-07-07 11:07] mkuzak commented on #94
@JAvRZ wasn't the agreement that opencpu/R expects 999999999 instead of missing values?

[2016-07-08 09:42] mkuzak opened #104 "Cannot import data after clicking cancel in missing values dialog"
When the user imports the data and clicks on _cancel_ in the dialog that asks to specify missing values, the dialog closes but when the user tries to import data again, nothing happens.

[2016-07-11 08:19] JAvRZ commented on #94
@mkuzak Okay, I changed the normcomp function to interpret 9 9's as NA's (and added a bit of much required functionality that you make multivariate comparisons with all scores not NA (one NA doesn't invalidate the whole multivariate procedure)). I'll wait with closing this issue, as I'm still not sure whether the website changes all "missing values" to 999999999, and not only for patient 1 (and of

[2016-07-11 08:57] JAvRZ commented on #100
Also a valid point.

[2016-07-11 09:03] JAvRZ commented on #96
If there is no previous button, I think it is inevitable that people are going to try the back button in the browser (because of iterative analyses, discovered typos in test scores, interest in other patients). So if there is no Previous button, I think people wouldn't mind too much because they can use the Backbutton, but I'm worried of unexpected behaviors when they do.

[2016-07-11 09:08] mkuzak commented on #96
What we need is to define exactly the behaviour of going back and forth, what is being kept, what is being refreshed etc.

[2016-07-11 09:13] JAvRZ commented on #96
I think people like that things are kept, so that you can look at a extremely aberrant test result, think, hold on, that's not right, go back, see that you typed in 66 instead of 6, remove one 6, and go back to the results. If everything is refreshed once more, you can only retry from a blank slate (and have to look up the 6 from scratch). I btw find myself pressing the previous button in the tabl

[2016-08-06 02:02] mkuzak commented on #98
Option value corrected, but the bug needs to be confirmed for new visualisation.

[2016-08-29 12:05] mkuzak commented on #104
Looks like this is solved now. Closing.

[2016-08-29 12:05] #104 closed, assigned to nobody

[2016-08-30 07:24] mkuzak commented on #94
Update. Current status is that when there are missing values present but plots are not rendered. There is no error in the console.

[2016-08-30 08:00] mkuzak commented on #96
As discussed recently, we will alert users when they use`next` and `back/prvious` in the browser and in the page. They should not expect any data to be kept in place.
For listening on browser navigation:

[code]

after [this stack overflow thread](https://stackoverflow.com/questions/3033874/alert-user-when-they-hit-the-browser-back-button-with-good-reason)

[2016-08-30 08:15] mkuzak opened #117 "No delete button when only one patient present in the data."
If there is only one patient in the input table, the delete button should no sow up since you are not allowed to delete last patient. This issue refers to issue #100.

[2016-08-30 08:16] mkuzak commented on #100
Creating new issue for this #117

[2016-08-30 08:16] #100 closed, assigned to mkuzak, Nanouk123, JAvRZ

[2016-08-30 08:18] mkuzak commented on #103
@JAvRZ @Nanouk123 is this still how we want it to work?
This is not consistent with the decision that all data can be dropped when going back and forth.

[2016-08-30 09:06] mkuzak commented on #65
Confirmed, it does not download the template, but there is no error in the console.

[2016-08-30 10:03] mkuzak commented on #78
@JAvRZ @Nanouk123 can you please check if this does now work as expected or not.

[2016-08-30 10:48] Nanouk123 commented on #78
Can you pls send me an email with the link or attachment of what you want me to check?

[2016-08-30 11:27] mkuzak opened #118 "Multiple `successful data upload` messages."
There is one message for each uploaded variable for each patient, that should be just once for the upload.

[2016-08-30 11:37] Nanouk123 commented on #78
Im not quite sure what to check. but:

I have dld the template: Shows ranges for the tests which should be removed (discussed this with Ben).
Ranges for demo variables can stay (see my comment on 4th of July)

[2016-08-30 12:34] mkuzak commented on #78
@JAvRZ correct me if I'm wrong, but during our last meeting Ben decided to keep the ranges in the template.

[2016-08-30 12:47] Nanouk123 commented on #78
My convo dates from 27-7 my last working day. Ben and I worked on the template (we changed a lot of the borders in the process).  So I hope you can soon start work on the latest golden template (with all andi variables and not just the example ones as we have now). Because this file alao has changes in what the website should or shouldn't accept.

Anyway if after this moment you guys decided to in

[2016-08-30 12:48] mkuzak opened #119 "normative data choice, data upload and template download buttons should be at the bottom as advanced"
At the bottom of test selection page there should be `advanced` section with option to choose normative dataset, download template and upload data.

[2016-08-30 12:52] mkuzak commented on #78
Well I have no preference, borders or not. During last meeting we looked at the template and I mentioned the borders will go away (as we decided earlier) and Ben said they should stay.

[2016-08-30 12:59] mkuzak opened #120 "The data input table should work with computed variables."
Some of the variables are computed based on other variables. The table should make requests to opencpu to calculate those and then display results.

[2016-08-30 13:01] mkuzak opened #121 "The plot is not drawn correctly in Firefox."
The legend on the right side is cut off.

[2016-08-30 13:05] mkuzak opened #122 "Add color in the area of `normal range`."
Also add some label to it, that this is `normal range`.

[2016-08-30 13:06] mkuzak opened #123 "Add label to y axis in the scatterplot."

[2016-08-30 13:08] mkuzak opened #124 "restyle home button."
Home button should be available on any page and should redirect the user to test selection page.

[2016-08-30 14:20] Nanouk123 commented on #78
See Bens mail. No borders in template or on website.  Only when added value exceeds these values

[2016-08-30 15:58] Nanouk123 commented on #78
Ill paste it here so there'll be no confusion in the future:

Dear Nathalie,
You're right. It's better to show a pop-up message when someone fills in an impossible value. Showing in advance borders that perhaps are not the actual ones may cause confusion.
Ciao,
Ben

[2016-09-12 11:13] jvdzwaan commented on #123
Which plot exactly do you mean?

[2016-09-12 11:14] mkuzak commented on #123
Scatterplot.

[2016-09-12 12:07] jvdzwaan commented on #123
And the label text should be? (It is now 'score'.)

[2016-09-21 11:41] #123 closed, assigned to nobody

[2016-09-21 15:02] JAvRZ opened #127 "Not selecting any tests lets you go to visualisation where R error is displayed"
The R error is:
`Error: invalid 'times' argument In call: rep(demos, no.tests)`
 which is neatly provided in little red box.

Solutions might be to enforce selection of tests before submittal to OpenCPU, either at test selection or after data entry.

[2016-09-21 15:21] jvdzwaan commented on #98
I think this now works correctly. @JAvRZ can you verify this?

[2016-09-21 15:39] JAvRZ commented on #98
Yes, tried a few things, looks alright.

[2016-09-21 15:39] #98 closed, assigned to mkuzak, JAvRZ

[2016-09-22 08:23] jvdzwaan opened #129 "signin page has test selection on top, that should not be there"

[2016-09-22 08:44] mkuzak opened #130 "wrong URL in account activation email"
URL of the server running andi app is currently hardcoded. It should be set based on settings in configuration file.

[2016-09-22 08:51] mkuzak opened #131 "andi and nlesc logos should be same height"
Logos at the bottom of the page get misaligned. The solution to that is to make both pngs the same height.

[2016-09-22 08:52] mkuzak opened #132 "andi logo hyperlink is pointing to nlesc website"
It should point to andi website.

[2016-09-22 09:13] mkuzak commented on #78
Ok, I'm renaming this issue based on the decisions made.

[2016-09-22 10:30] mkuzak opened #133 "post error when submitting data with missing values for one of the patients"
When subset of patients (but not all) have missing values, there is post error. If all patients have missing values for particular variable, there is no error and plot is rendered with this variable missing, which is good.
This is more complicated for plotting in case patients having different subsets of variables.

[2016-09-22 11:10] mkuzak commented on #99
this is connected to issue #96
user should not expect that the data will be kept if moving back and forth

[2016-09-22 11:10] #99 closed, assigned to nobody

[2016-09-22 11:12] mkuzak commented on #103
this is covered by #96

[2016-09-22 11:12] #103 closed, assigned to nobody

[2016-09-22 11:16] mkuzak commented on #122
Added grey colour and label.

[2016-09-22 11:16] #122 closed, assigned to nobody

[2016-09-22 11:20] mkuzak commented on #124
there is a button now, but we need to make it more button like and maybe rename it

[2016-09-22 11:26] mkuzak commented on #127
there are two behaviours that need to be implemented:
- it should not be possible to go to data input page if no test variables are selected
- it should not be possible to upload data with no test variables filled in

[2016-09-22 11:40] mkuzak opened #134 "make it more visible what test variables the points correspond to"
In line plot it's not obvious which test variables correspond to which point. There are at least two solutions to that:
- when hovering over test variable tick label make corresponding points larger
- draw vertical line for each test variable tick

[2016-09-22 11:52] mkuzak opened #135 "make ellipsis plot more readable"
When patient scores are very far away from normal it is hard to tell which ellipse patient belongs to.
One solution I can come up with would be to draw a _chess board_ in the background.

[2016-09-22 13:10] mkuzak opened #136 "Export svg to pdf with use server side python."

[2016-09-22 13:11] mkuzak opened #137 "Export datatables to pdf."

[2016-09-22 13:12] mkuzak opened #138 "Rename one sided test choice."
Instead of right and left sided it should be supernormality and impairment.

[2016-09-22 13:13] mkuzak opened #139 "Use green colour for normal."
In line plot use green colour for normal range. Do not use green colour for patients.

[2016-09-22 13:36] JAvRZ opened #140 "Represent onesidedness in normal band in line plot"
Because onesided testing is familiar as an extension/alternative to twosided testing, it is perhaps best visualized on top of the twosided band, as a dashed line. So even if testing is onesided, the green (see other issue for green/gray switch) band will look the same, but the dashed line will indicate the changed significance level. I think most of this can be fixed in normcomp, but I'll have to

[2016-09-22 13:38] mkuzak commented on #140
or instead of using dotted line use two shades of green there

[2016-09-22 14:31] jvdzwaan commented on #135
I don't think a chess board solves everything, because datapoint might be outside the chess board square. Have you considered that possibility?

[2016-09-22 14:46] mkuzak commented on #135
Yes we did. If the point is outside of the square it does not make sense to plot it in other square so we should either resize the squares to fit all points or don't plot points falling outside of their squares.

[2016-09-22 14:50] jvdzwaan commented on #129
@mkuzak I can't reproduce this one.

It should not be possible, because stuff from the angular app is only displayed when the user is authenticated (see file `accounts/views.py`).

Can you provide more details?

[2016-09-22 14:53] mkuzak commented on #129
Can you see it here?
http://andi-app.andi-nlesc.surf-hosted.nl/accounts/signin/

Before logging in there should be no button for `test selection` at the top, right from andi logo.

[2016-09-22 14:56] jvdzwaan commented on #129
Oh, you mean the button, not the title...

Why can't the button be there when the user is not logged in? (It's easy to remove, I just don't see the point)

[2016-09-22 14:57] mkuzak commented on #129
My point is that this button is not functional there. It does not do anything, because it cannot if you're not logged in.

[2016-09-22 15:32] jvdzwaan commented on #95
Will be addressed in #140

[2016-09-22 15:34] mkuzak commented on #95
I guess we can close it in that case.

[2016-09-22 15:34] #95 closed, assigned to mkuzak

[2016-09-23 09:13] #124 closed, assigned to nobody

[2016-09-23 09:13] #132 closed, assigned to nobody

[2016-09-23 09:49] mkuzak opened #142 "Add on the login page an information to sign up if you haven't yet."
Sign up link on top right is not visible enough. There should be an information on the page next to login boxes.

[2016-09-23 13:29] JAvRZ opened #143 "In ellipse plot, labels/axes seem wrong way round"
Not a new issue, but I didn't see it on here. I think the x and y dimensions are switched. I've tried to graph the way I understand the current implementation, and the way I think these are more conventionally plotted (which is flipped I think).

Explanation:
![image](https://cloud.githubusercontent.com/assets/13958834/18787262/5e538fbc-81a2-11e6-8599-c1e46e971686.png)

[2016-09-26 14:04] jvdzwaan commented on #121
@mkuzak Not only the plot looks weird in firefox, the input boxes too:

![screenshot from 2016-09-26 16-03-23](https://cloud.githubusercontent.com/assets/4788897/18837095/d4a62c44-8402-11e6-9da8-cdc413d61e70.png)

[2016-09-26 14:36] mkuzak commented on #121
this is strange, that should be standard Bootstrap look. Maybe it's the problem again with overriding bootstrap CSS.

[2016-09-26 14:38] jvdzwaan commented on #121
The really strange thing is that the age input box looks fine, but the test ones don't

[2016-09-26 14:39] mkuzak commented on #121
hm, it looks ok in my Firefox macOS Firefox version 50.0b1

[2016-09-26 15:22] jvdzwaan commented on #121
Okay, I have more or less fixed it. In firefox, the table is now slightly unaligned. Can we live with that?
![screenshot from 2016-09-26 17-19-00](https://cloud.githubusercontent.com/assets/4788897/18840104/bec5b47a-840d-11e6-8db2-92173776a357.png)

[2016-09-26 15:34] jvdzwaan commented on #139
Can there be no green for the patients at all? (In other words, should we create a custom color scale (so, not use d3 category10)? Or should I just pick a color green that is sufficiently different from the two greens in d3 category10?

Can there be more than 10 patients at the same time? (So, should we have a color scale with more than 10 different colors?)

[2016-09-26 15:35] mkuzak commented on #139
no green for patients and yes there can be more than 10 patients, but I guess that will make it really hard to make distinguishable colours.

[2016-09-26 16:04] #131 closed, assigned to nobody

[2016-09-27 09:14] #134 closed, assigned to jvdzwaan

[2016-09-27 09:32] #121 closed, assigned to jvdzwaan

[2016-09-28 11:56] mkuzak opened #148 "Data input table glitch."
When the input value is out of range the rows in different columns get unaligned. See screenshot below.

![screen shot 2016-09-28 at 13 51 23](https://cloud.githubusercontent.com/assets/208443/18912541/325664b8-8583-11e6-9d8f-e400e8bcc3c8.png)

[2016-09-28 12:02] jvdzwaan commented on #148
@mkuzak How are we going to solve this one? Do you want me to put back the original css, or are we going to turn it into a proper table?

[2016-09-28 12:05] mkuzak commented on #148
I'm for proper table.

[2016-09-29 08:14] #139 closed, assigned to jvdzwaan

[2016-09-29 08:17] jvdzwaan commented on #129
Fixed, see #124

[2016-09-29 08:17] #129 closed, assigned to nobody

[2016-09-29 08:47] mkuzak opened #150 "Service 'web' failed to build"
`npm install` fails due to

[code]

npm package list needs to be updated

[2016-09-29 09:19] mkuzak commented on #150
Fixed by merge in f413e271c6921c23f97b068a222d105ead3560ad

[2016-09-29 09:19] #150 closed, assigned to mkuzak

[2016-09-29 09:23] mkuzak commented on #143
Can we close it now? Is this solved by 26470765232d92c5751e0ec9e216fc7c3657439a ?

[2016-09-29 09:26] jvdzwaan commented on #143
Yes, I thought I closed it in the git commit, but that didn't work...

[2016-09-29 09:26] #143 closed, assigned to jvdzwaan

[2016-09-29 09:28] mkuzak commented on #142
What about adding this sentence.

"To use this website you need to create an account first. If you have not created one yet please follow **sing up** link at the right top of this page."

@JAvRZ  would that work?

[2016-09-29 09:45] JAvRZ commented on #142
Little edit:
"To use this website you need to create an account. If you have not yet, please click sign up at the right top of this page."

[2016-09-29 09:47] jvdzwaan commented on #142
Why not add a 'sign up' link to the sentence?

[2016-09-29 09:51] mkuzak commented on #136
Here are the things I've found while shortly researching it:

svglib reportlab
https://gist.github.com/mbostock/6466603
https://docs.djangoproject.com/en/dev/howto/outputting-pdf/#install-reportlab
https://docs.djangoproject.com/en/1.8/howto/outputting-pdf/
http://stackoverflow.com/questions/5835795/generating-pdfs-from-svg-input
https://www.davidfischer.name/2015/08/generating-pdfs-with-and-witho

[2016-09-29 09:52] #135 closed, assigned to jvdzwaan

[2016-09-29 09:55] #138 closed, assigned to nobody

[2016-09-29 09:57] mkuzak commented on #140
@JAvRZ @jvdzwaan it looks like this is solved. Do you agree?

[2016-09-29 09:57] jvdzwaan commented on #140
Yes

[2016-09-29 09:58] #140 closed, assigned to JAvRZ

[2016-09-29 12:56] #142 closed, assigned to nobody

[2016-09-29 14:31] jvdzwaan opened #155 "Django + javascript error when some patients have missing values"
- javascript assumes all patients have the same tests as the first patient
- something similar in `generate_ellipse_data` (Django part)

[2016-09-29 15:22] jvdzwaan commented on #133
Oh, this is the same as #155
Closing this one, because #155 has some additional information :)

[2016-09-29 15:22] #133 closed, assigned to nobody

[2016-09-30 07:08] mkuzak commented on #127
The code only tests if there are missing values in the input table but not if there are any tests selected.

[2016-09-30 08:31] mkuzak commented on #130
The address is defined as `DOMAIN` in `Docker/.env` file.

[2016-09-30 08:31] #130 closed, assigned to nobody

[2016-09-30 09:14] JAvRZ opened #157 "Last patient's values change (results and plots are different for last patient)"
Consider three identical patients (both in demographics and scores). The third gets a different result.
Remove the third score: One and two still get identical results
Remove the first score: Three gets a different result
Remove the second score: Three gets a different result
Add a fourth score: Three gets a different result

![image](https://cloud.githubusercontent.com/assets/13958834/18986759/9b

[2016-10-03 09:09] JAvRZ commented on #157
Couldn't replicate this on Ben's for some reason, but on my own UvA pc, I got the same strange result (in Firefox and in IE)

[2016-10-04 06:47] jvdzwaan commented on #137
Only export to pdf? There is also support for csv, and excel https://datatables.net/extensions/buttons/examples/initialisation/export.html

[2016-10-04 07:46] jvdzwaan commented on #137
Wait, csv export is already in the export tab. Nevermind :)

[2016-10-04 10:48] #155 closed, assigned to jvdzwaan

[2016-10-04 10:58] #137 closed, assigned to jvdzwaan

[2016-10-05 14:07] jvdzwaan commented on #136
Notes to myself
reportlab needs `python3-dev`
cairosvg needs `libffi-dev`, and python packages lxml tinycss cssselect

[2016-10-08 15:01] mkuzak opened #161 "only use age, not birth date, in the form"
For privacy reasons do not use age but not birth date.

[2016-10-10 16:36] mkuzak opened #163 "draw patients outside of view in ellipse plots"
Currently the patient is not plotted if it does not fit. Solution to see at least in which direction they are is to plot them on the boundary and change the symbol they are plotted with.

[2016-10-10 16:38] mkuzak opened #164 "names for datatables"
Currently datatables have no description. There should be some short label explaining what they contain. @JAvRZ please provide the text that should be used.

[2016-10-11 07:41] JAvRZ commented on #164
I think the consensus was that it should be "Univariate normative comparisons, test for supernormality, 95% confidence interval",

so "Univariate normative comparisons,", whatever is put into the One tailed or two tailed box in the second tab, whatever is put in the percentage tab, "% confidence interval".

The second one similarly: "Multivariate normative comparisons, test for impairment, 95% con

[2016-10-14 11:47] #136 closed, assigned to jvdzwaan

[2016-10-14 11:50] mkuzak opened #165 "Button to download ellipse plot does not show up"
This is somehow connected with andistats output.

[2016-10-20 08:30] #165 closed, assigned to jvdzwaan

[2016-10-20 08:32] JAvRZ opened #167 "Ellipse drawing parameters are not dependent on normative data version"
The parameters with which the ellipses are drawn I think come from this file:
ANDI-frontend/static/app/data/ellipseparams.csv
while the test names that are specific to the data version come from this directory.
https://github.com/andi-nl/ANDI-frontend/tree/master/static/app/data/2016-01-14

Both contain test names that are specific to that version, so maybe there should be a separate ellipseparams

[2016-10-20 08:38] JAvRZ opened #168 "Ellipse drawing parameters are not specific to confidence interval selection"
The ellipses are now always of the same size (95% confidence interval), because they are hardcoded in the ellipseparams.csv like that (68% would be smaller, 99% would be larger).

Possible solutions that I can see:
-Mention this at the top of the page, that these ellipses are always 95%, independent of whether you selected 95%, or 68% or 90% or 99%.
-Make multiple ellipseparams (ellipseparams95.cs

[2016-10-23 12:23] #164 closed, assigned to jvdzwaan, JAvRZ

[2016-10-25 13:06] JAvRZ commented on #157
This bug seems to have been removed, I don't know when or how, but good that it is. Tested on IE and Chrome on the same setup where the bug occurred.

[2016-10-25 13:06] #157 closed, assigned to nobody

[2016-11-03 08:30] #163 closed, assigned to jvdzwaan

[2016-11-03 14:02] jvdzwaan opened #171 "Selected tests should be emptied when restart button is clicked"
This is not a problem when the user clicks restart when on the results page. However, when clicking restart when selecting tests or in the data entry view, empty selected tests is the expected behavior.

[2016-11-03 16:18] mkuzak opened #172 "download template as tab separated txt file"
Currently the downloaded file is csv file.

[2016-11-03 16:20] mkuzak opened #173 "Explanation on how to open downloaded data."
Something like:
"This is tab separated text file, please open it in excel"

[2016-11-03 16:23] mkuzak opened #174 "Spinner when loading data."
When loading big dataset it can take a while. To give the user feedback, that it's working on sth and not broken, display a spinner or some other feedback.

[2016-11-09 09:18] jvdzwaan opened #175 "Change table heading 'degrees of freedom' to 'N'"

[2016-11-09 09:37] jvdzwaan opened #176 "Add 'terms of service' text"

[2016-11-09 09:39] jvdzwaan opened #177 "Make procedure for loading/back upping allowed email domains and allowed email addresses"

[2016-11-09 10:31] jvdzwaan commented on #175
Are there changes needed for the multivariate table?

[2016-11-09 10:34] JAvRZ commented on #175
No, don't think so. N doesn't really work multivariately because every test has its own N. Therefore, the simplification does not work, and I think it's best to just provide degrees of freedom.

[2016-11-09 13:32] jvdzwaan commented on #171
Okay, this is not as easy as I expected, because there does not seem to be 2 way binding between the tree data structure thingy with the tests and the selectedTest variable.

@mkuzak any ideas?

[2016-11-17 09:01] jvdzwaan commented on #161
Birthdate and test date should be removed from
- the data entry form
- the data upload template

[2016-11-17 13:39] jvdzwaan commented on #172
In open office, the file becomes a comma separated file if you do ctrl-s. Is this also a problem if you use excel? (Just checking)

[2016-11-21 13:04] jvdzwaan commented on #172
Wait, this is why it should be a txt file, and not a csv...

[2016-11-21 13:10] jvdzwaan commented on #172
txt file is also automatically transformed to comma separated file in libreoffice.

[2016-11-21 13:30] JAvRZ opened #180 "Missing patient blue dot on two variables (out of 15) in ellipse plot"
With this data:
(I couldn't attach a csv, so this txt can be renamed to csv, and then should work).
[MissingBlueDot.txt](https://github.com/andi-nl/ANDI-frontend/files/603641/MissingBlueDot.txt)

I get missing dots in two variables in the ellipse plots (SF, and LF)
![image](https://cloud.githubusercontent.com/assets/13958834/20484295/d2f35e1a-aff6-11e6-92fc-ee26a044a882.png)

which could mean that

[2016-11-21 13:37] JAvRZ opened #181 "Scrambled ellipse plot"
This datafile makes a few things go spectacularly wrong (well, the plots look very off, it does not crash or anything). (I couldnt attach a csv file, but renaming this as csv lets me read it in fine).
[Reordering.txt](https://github.com/andi-nl/ANDI-frontend/files/603666/Reordering.txt)

The values don't look particularly strange to me, but the plots do. The line plot has one extreme value, but th

[2016-11-21 13:38] JAvRZ commented on #181
The flipping of axis also happens with less extreme examples, see for example
![image](https://cloud.githubusercontent.com/assets/13958834/20484605/36b18976-aff8-11e6-951f-d35cdf8591b2.png)

[2016-11-21 13:59] JAvRZ commented on #75
Since the dates will no longer be selected (either via date picker or manually) because dates are more privacy-sensitive, I'll close this one as it seems redundant.

[2016-11-21 13:59] #75 closed, assigned to anandgavai

[2016-11-21 15:10] jvdzwaan commented on #171
`ivhTreeviewMgr.selectEach($rootScope.tests, []);` should do it

[2016-11-21 15:57] JAvRZ commented on #93
The birthdata and testdate will no longer be selected (either manually or with a spinner), so this issue is no longer relevant.

[2016-11-21 15:57] #93 closed, assigned to nobody

[2016-11-30 17:51] #118 closed, assigned to jvdzwaan

[2016-11-30 17:55] #175 closed, assigned to jvdzwaan

[2016-12-01 09:03] jvdzwaan opened #183 "Read only fields for all variables"
when all intermediary and the computed variable is filled in in the data upload file.

[2016-12-01 09:04] #176 closed, assigned to jvdzwaan

[2016-12-01 09:05] #161 closed, assigned to jvdzwaan

[2016-12-01 09:06] jvdzwaan commented on #148
There are still problems with parts of the table being invisible.

[2016-12-01 09:11] #117 closed, assigned to jvdzwaan

[2016-12-01 10:50] JAvRZ opened #184 "Different behavior in computing variables for different variables (locking and updating)"
Behavior is a bit different for different variables.
For AVLT1-5, when you finish typing number 5, the total score is completely locked in and cannot be changed anymore.

For RBMT imm rec, when you finish typing story number 2, you can still edit number 1 and 2. If you do so with the change number buttons next to the number, the total does not update, so the total becomes incongruent with the part

[2016-12-01 11:57] jvdzwaan commented on #184
There was a bug in the code for checking the variables: #183

I'll look into removing the arrows in the input boxes.

[2016-12-01 12:38] jvdzwaan opened #185 "Make age-field required"
In data entry table

[2016-12-01 12:49] mkuzak commented on #65
we have to test it now, since there is different code that deals with upload and download

[2016-12-02 16:12] ridderl opened #186 "Evaluation of computed variables is not triggered by up and down arrow buttons"
When you complete the independent value by typing, the computed variables are filled in, but that is not the case if you enter the independent values using the up and down arrows ....

[2016-12-02 17:52] ridderl commented on #172
When you "upload data" the file selector filters on Microsoft excel .csv files, which excludes the .txt file that I just downloaded. Is it possible to set the file selector to "all files"?

[2016-12-02 17:55] mkuzak commented on #172
Yes, it’s only changing one argument. I already discussed it with Janneke.

On 2 December 2016 at 18:52:24, ridderl (notifications@github.com) wrote:

When you "upload data" the file selector filters on Microsoft excel .csv
files, which excludes the .txt file that I just downloaded. Is it possible
to set the file selector to "all files"?

—
You are receiving this because you authored the thread.
R

[2016-12-02 17:59] ridderl opened #187 "Only data from first patient is read from .txt file with multiple patients"

[2016-12-02 21:31] jvdzwaan commented on #187
@ridderl Can you please provide the text file?

[2016-12-02 21:32] jvdzwaan commented on #186
Has been mentioned in #184

[2016-12-03 18:34] ridderl commented on #187
[patientdata.txt](https://github.com/andi-nl/ANDI-frontend/files/629028/patientdata.txt)
It turns out it is not the first, but only the second patient that is being read ....

[2016-12-03 18:40] ridderl commented on #187
Attached is a text file with 3 patients. Only the last two are read ....
[patientdata (2).txt](https://github.com/andi-nl/ANDI-frontend/files/629032/patientdata.2.txt)

[2016-12-03 20:27] jvdzwaan commented on #187
This file does not contain the column with info about the ranges of acceptable values. The app assumes this column is in the file and that's why the first patient is ignored.

I propose we solve this problem by putting a message on the site (or even in the csv template) that tells the user not to delete this column.

[2016-12-05 08:56] mkuzak opened #188 "Text field containing terms and conditions should be scrollable."
Terms and conditions occupy a lot of space. It's better to put them in a text area of fixed height and vertical scrolling.

[2016-12-05 09:03] jvdzwaan commented on #188
I have discussed this with @JAvRZ (well not the option of putting them in a box with scrolling), so I'd like to hear his opinion before changing them. Joost, what do you think?

[2016-12-05 09:17] mkuzak commented on #188
This is what we decided in the meeting last Thursday. @JAvRZ please confirm.

[2016-12-05 09:17] JAvRZ commented on #188
I think we all agree that we want people to read them, or that it is at least reasonable to think that people have read them. There was one option in the meeting that was offered to hide it under a link to a different page. Mateusz and I were concerned that this effectively means that users will never ever read the terms and conditions. So that's why Mateusz was coming up with compromises that mak

[2016-12-05 09:31] mkuzak opened #189 "Message about not being on the list of approved emai domains should be more visible."
Currently it's very easy to miss the message. It would be more visible if using toastr.

[2016-12-05 09:33] mkuzak opened #190 "Add the message that it's best to use Firefox or Chrome."
There are strange issues on IE and on Safari downloading files is not intuitive.

[2016-12-06 09:49] jvdzwaan commented on #184
The arrows (called spinners) are something added by the browser. So, disabling them is browser dependent, which is not optimal. Therefore, the problem will be solved by also triggering the validation when the spinners are clicked.

[2016-12-06 12:33] jvdzwaan opened #191 "Remove normative data versions 2015 and 2014"
`Error: non-numeric argument to mathematical function In call: sign(ANDImetadata[["mybestpowertransform"]][ANDImetadata[["uniqueid"]] %in% mydata[["uniqueid"]]])`

[2016-12-06 12:41] JAvRZ commented on #191
My proposed solution is scrapping the current 2015 and 2014 directories, besides implementing #167 . Because I currently have no idea what is in those directories (never did to be honest), and what csv it uses to plot what normative data, so I can very well imagine that a mismatch between files occurs.

I think they were put there to demonstrate that earlier/older normative datasets could be selec

[2016-12-06 12:54] jvdzwaan commented on #191
Okay, I can do that. This means that there is only one normative data version left (so nothing to choose).

[2016-12-06 13:00] JAvRZ commented on #191
If you want to keep the option, duplicating 2016 and renaming it 2015 is an option, come to think about it.

[2016-12-06 13:18] jvdzwaan commented on #191
That would be confusing, no?

The option of adding more normative data versions is still there, only without 2015 and 2014 there is only one option to choose from (2016). I'll just leave it like this.

[2016-12-06 13:23] jvdzwaan commented on #189
Because this part is in Django, it is not so easy to use toastr. So I'll just add some color :)

[2016-12-06 13:42] jvdzwaan opened #192 "Add email address where account can be requested"

[2016-12-06 13:46] JAvRZ commented on #191
Agreed. That makes #167 a little less urgent, but definitely nice to have when new versions are indeed added.

[2016-12-06 13:50] jvdzwaan commented on #191
Yes, that was very easy to add, so it is already in there :)
Just wait for the new version to be put online

[2016-12-06 15:54] jvdzwaan commented on #187
Ah, I now see where this data comes from; it is the file you get when you export the patient data. I'll add an additional column to that one.

[2016-12-06 19:56] ridderl commented on #187
Yes, indeed it was an file exported after filling in data online.
Sorry, I didn't explain well and overlooked your earlier comment ...

[2016-12-07 09:30] JAvRZ opened #194 "LF-total_letter_123 does not add up (probably R package issue)"
![image](https://cloud.githubusercontent.com/assets/13958834/20962046/fd2fdd66-bc67-11e6-8dbf-935679cacef3.png)

Seems to be because of a faulty variable name in the R package, so I think I can fix this.

[2016-12-07 09:42] JAvRZ commented on #194
The andistats package was updated with the correct variable name, but it will take some time to take effect.

[2016-12-07 10:06] jvdzwaan opened #195 "Update README how to setup the andi app"
For local development

[2016-12-07 12:17] JAvRZ commented on #194
Seems to work fine, closing.
![image](https://cloud.githubusercontent.com/assets/13958834/20967366/6bca759e-bc7f-11e6-8416-fb13352755b0.png)

[2016-12-07 12:17] #194 closed, assigned to JAvRZ

[2016-12-07 12:46] #119 closed, assigned to jvdzwaan

[2016-12-07 12:46] #127 closed, assigned to jvdzwaan

[2016-12-07 12:46] #173 closed, assigned to jvdzwaan

[2016-12-07 12:46] #185 closed, assigned to jvdzwaan

[2016-12-07 12:46] #186 closed, assigned to jvdzwaan

[2016-12-07 12:46] #187 closed, assigned to jvdzwaan

[2016-12-07 12:46] #188 closed, assigned to jvdzwaan

[2016-12-07 12:46] #189 closed, assigned to jvdzwaan

[2016-12-07 12:46] #191 closed, assigned to jvdzwaan

[2016-12-07 12:46] #174 closed, assigned to jvdzwaan

[2016-12-07 12:46] #180 closed, assigned to jvdzwaan

[2016-12-07 13:12] #26 closed, assigned to nobody

[2016-12-07 13:14] mkuzak commented on #36
The font size have been increased.

[2016-12-07 13:14] #36 closed, assigned to nobody

[2016-12-07 13:27] mkuzak commented on #65
This still does not work, but is of low priority. Adding an info to use Firefox or Chrome.

[2016-12-07 13:39] mkuzak commented on #94
The table has been rewritten. This is not an issue any more.

[2016-12-07 13:39] #94 closed, assigned to mkuzak

[2016-12-07 13:40] mkuzak opened #196 "Form validation error when missing value for numerical variable is a string."

[2016-12-07 13:41] mkuzak commented on #120
Yes it does.

[2016-12-07 13:41] #120 closed, assigned to jvdzwaan

[2016-12-07 13:42] mkuzak commented on #148
Table has been rewritten, this is not and issue any more.

[2016-12-07 13:42] #148 closed, assigned to jvdzwaan

[2016-12-07 13:43] mkuzak commented on #167
They are now.

[2016-12-07 13:43] #167 closed, assigned to jvdzwaan

[2016-12-07 13:45] mkuzak commented on #168
It does now.

[2016-12-07 13:45] #168 closed, assigned to jvdzwaan

[2016-12-07 13:47] mkuzak commented on #171
Hard to debug. Not a priority.

[2016-12-07 13:51] mkuzak commented on #172
It works as expected.

[2016-12-07 13:51] #172 closed, assigned to jvdzwaan

[2016-12-07 13:55] mkuzak commented on #183
This does not lock any more.

[2016-12-07 13:55] #183 closed, assigned to jvdzwaan

[2016-12-07 14:00] mkuzak opened #197 "Update text fields."
With data from Ben.

[2016-12-09 16:04] JAvRZ opened #198 "Test selection tree slides behind other buttons"
If the tree is expanded a little, other tests can no longer be selected because they are behind the Normative data selection button. Picture:
![image](https://cloud.githubusercontent.com/assets/13958834/21055300/3b0dad1e-be31-11e6-9c05-e00369376c7f.png)

[2016-12-09 16:18] JAvRZ commented on #198
this was Chrome by the way.

[2016-12-12 15:40] jvdzwaan commented on #190
Fixed with updating of texts #197

[2016-12-12 15:40] #190 closed, assigned to nobody

[2016-12-14 14:10] #192 closed, assigned to jvdzwaan

[2016-12-14 14:10] #196 closed, assigned to jvdzwaan

[2016-12-14 14:10] #198 closed, assigned to nobody

[2016-12-14 14:17] mkuzak opened #200 "correct docker installation instructions"
Point to official Docker documentation to avoid duplication and getting out of date.

[2016-12-18 20:24] mkuzak opened #203 "different versions of angular and angular-animate get installed"
this cases the error when trying to inject $animate
solution one: pin both versions to 1.5.10
solution two: pin both versions to 1.6.0

I tested the second one, looks like it works, may cause problems with other dependencies

[2016-12-19 09:21] mkuzak commented on #203
Actually even if both versions are 1.5.10 the injection fails. Looks like they all need to be bumped to 1.6.0.

[2016-12-19 09:24] JAvRZ commented on #181
EDIT: Ah sorry, I wasn't aware that the fixing commit wasn't merged yet. Ignore this comment then.

Alas, this still looks scrambled:
![image](https://cloud.githubusercontent.com/assets/13958834/21307196/b8870ac4-c5d4-11e6-88a7-5e2a621744e4.png)
Used data:
[patientdata.txt](https://github.com/andi-nl/ANDI-frontend/files/660592/patientdata.txt)
(which I downloaded from the last screen, which was ve

[2016-12-19 09:48] JAvRZ commented on #181
From what I can make out by the way, the ellipses do not look bad (the bottom one, delrec/immrec is lean, as expected, the top right TMTa and TMTb is slightly lean, as expected), so in that respect, I don't think there's a new issue.

[2016-12-19 09:51] #203 closed, assigned to mkuzak

[2016-12-19 12:42] mkuzak commented on #96
the solution with "onbeforeunload" does not work, according to docs it can be ignored by the browser

[2016-12-19 13:27] JAvRZ commented on #184
This image shows that this issue is back ( I thought it had disappeared as well).
![image](https://cloud.githubusercontent.com/assets/13958834/21314399/363c8328-c5f7-11e6-9763-5e9f374381b9.png)

[2016-12-19 13:53] jvdzwaan opened #207 "strings as patient id are not displayed in the data entry table after data upload"

[2016-12-19 13:54] #195 closed, assigned to jvdzwaan

[2016-12-19 15:35] jvdzwaan commented on #96
I came across this solution using angular: http://stackoverflow.com/questions/15813850/how-to-detect-browser-back-button-click-event-using-angular

However, not sure this always works (and how to check whether it does)

[2016-12-19 15:36] mkuzak commented on #96
I'll give it a shot.

[2016-12-19 15:47] #207 closed, assigned to jvdzwaan

[2016-12-20 10:01] JAvRZ commented on #184
Using tab to navigate, I can no longer reproduce the bug (nor can I with the spinner). So closing once again, thanks.

[2016-12-20 10:01] #184 closed, assigned to jvdzwaan

[2016-12-20 10:25] JAvRZ commented on #181
Okay, I think I can close this one. I tried a few data sets, a few new ones, a few old ones that used to give me trouble, and I cannot find the scrambled pattern anymore. Thank you, closing.

[2016-12-20 10:25] #181 closed, assigned to jvdzwaan

[2016-12-20 11:00] JAvRZ commented on #78
I'm pretty sure that these range suggestions have been removed, or at least, I don't see them anymore. Thanks, closing.

[2016-12-20 11:00] #78 closed, assigned to anandgavai

[2016-12-22 12:12] ridderl opened #210 "Change warning for sign-up with "gmail accounts""
"Registration not allowed" -> "Automatic registration not possible"

[2016-12-22 14:30] mkuzak opened #211 "cleaner information about two ways of inputing data"
It is not clear that one can go next after choosing the tests without downloading or uploading the template. Just one sentence before `advanced` part should be enough.

[2016-12-22 14:31] mkuzak opened #212 "rename data tables tab"
Use `tables` instead of `data tables`.

[2016-12-22 14:32] mkuzak opened #213 "Rename export data tab."
Use `data export` instead of `export data`

[2016-12-22 14:34] mkuzak opened #214 "Add info to click andi logo to get more info."
It is not obvious that clicking on andi logo will bring you to andi website, which is the source of more information and documentation. This should be clearly stated somewhere.

[2016-12-22 14:35] mkuzak opened #215 "Fix dependencies on major version."
Currently most dependencies are pinned up to patch level, which means that bug fixes will not be included in the application.

[2016-12-28 13:40] mkuzak commented on #197
@JAvRZ correct me if I'm wrong, but I think that can be closed now

[2016-12-28 14:11] mkuzak commented on #177
Looks like this have been fixed by 2961c4fda809678981a024c0f4b5c6955405d000
closing

[2016-12-28 14:11] #177 closed, assigned to jvdzwaan

[2016-12-28 14:14] mkuzak commented on #200
this has been fixed by 46779df0b7d425bddd0c09ad6cb2797c02c6b45a
closing

[2016-12-28 14:14] #200 closed, assigned to mkuzak

[2016-12-28 14:38] #210 closed, assigned to nobody

[2016-12-28 15:17] #211 closed, assigned to nobody

[2016-12-28 15:44] #212 closed, assigned to nobody

[2016-12-28 15:44] #213 closed, assigned to nobody

[2016-12-28 15:44] #214 closed, assigned to nobody